:root {
  --desktop-item-panel-max-width: 300px;
  --desktop-item-panel-min-width: 200px;
  --desktop-large-panel-width: 900px;
  --desktop-panel-min-height: 200px;
  --desktop-panel-max-height: 600px;
}

/* header and nav layout */
header .nav-wrapper {
  background-color: var(--background-color);
  width: 100%;
  z-index: 3;
  position: fixed;
  border-bottom: 1px solid var(--color-neutral-300);
}

header nav {
  box-sizing: border-box;
  display: grid;
  align-items: center;
  gap: 0 16px;
  margin: auto;
  max-width: 1248px;
  height: var(--nav-height);
  padding: 0 24px;
  font-family: var(--type-base-font-family);
}

@media (min-width: 900px) {
  header nav {
    display: flex;
    justify-content: space-between;
    max-width: 1264px;
    padding: 0 32px;
  }

}


/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: flex;
  align-items: center;
}

/* If viewport height is below max, set max height to 90% of viewport */
@media (max-height: 819px) {
  .cart-mini-cart:not(:has(.cart-empty-cart)) {
    max-height: calc(100vh - var(--nav-height));
  }
}

@media (min-width: 1024px) {
  header nav .nav-tools-wrapper {
    position: relative;
  }

  header nav .nav-tools-panel {
    top: calc(-12px + var(--nav-height));
  }

  header nav .minicart-panel {
    width: 398px;
  }

  header nav .nav-search-panel {
    width: 398px;
  }
}

/* tools */
header nav .nav-tools-panel {
  z-index: 100;
  position: absolute;
  box-shadow: var(--shape-shadow-2);
  background: var(--background-color);
  top: var(--nav-height);
  right: 0;
  width: 100%;
  display: none;
  box-sizing: border-box;
}


.header-wrapper {
  background-color: #fff;
  height: 100%;
  left: 0;
  max-height: 120px;
  position: sticky;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
}

.header-wrapper>.block {
  background: red;
  margin: 0 auto;
  max-height: 120px;
  max-width: 1366px;
  width: 100%;
  max-width: 1366px;
}

.default-content-wrapper>ul {
  list-style-type: none;
  display: flex;
}

.header-wrapper {
  margin: 0 auto;
}

.header.block>.default-content-wrapper {
  -webkit-box-align: center;
  -webkit-box-pack: justify;
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-height: 70px;
  padding: 5px 50px;
}


.icon-vs-logo {
  height: 100%;
  max-height: 40px;
  max-width: 170px;
  width: 100%;
}

.default-content-wrapper ul:first-of-type>li:nth-child(2) {
  max-width: 508px;
}

.header.block .default-content-wrapper ul>li:nth-child(2) {
  max-width: 470px;
  width: 100%;
  flex: 1;
  background: #e9e9e9;
  border: none;
  color: #7b7b7b;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  outline: none;
  width: 100%;
  border-radius: 6px;
  padding: 8px 12px;
  text-align: center;
  padding: 10px 16px;
}

.header.block .default-content-wrapper ul>li:nth-child(-n+2)>ul>li:nth-child(1) {
  color: #555;
  font-family: robotoRegular, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.header.block .default-content-wrapper ul {
  width: -webkit-fill-available;
  justify-content: space-between;
  margin-left: -25px;
  height: -webkit-fill-available;
}

.header.block .default-content-wrapper ul>li:nth-child(2) {
  max-width: 470px;
  font-size: 12px;
  font-weight: 100;
  /* padding: 13px; */
  border: 1px solid white;
  border-radius: 5px;
  width: 90%;
  border-radius: 50px;
  align-items: center;
}

.header.block .default-content-wrapper ul>li {
  display: flex;
  /* align-self: center; */
}

.header.block .default-content-wrapper ul>li:nth-child(1)>ul>li:nth-child(2) {
  /* margin-left: 30px;
  text-decoration: underline;
  color: #262626;
  display: block;
  font-family: robotoMedium, sans-serif;
  font-size: 11px;
  font-weight: 600;
  line-height: 11px;
  text-align: left;
  text-decoration: underline;
  background: blue; */
}


.header.block .default-content-wrapper ul>li:nth-child(1) {
  /* display: block;
  margin-left: 14px;
  align-self: flex-end;
  position: relative; */
  /* top: 5px; */
  /* background-color: red; */
  display: flex;
  align-items: center;
}


.header.block .default-content-wrapper ul>li:nth-child(1)>ul>li:nth-child(2) {
  /* display: block;
  margin-left: 14px;
  align-self: flex-end;
  position: relative; */
  /* top: 5px; */
  /* background-color: red; */
  /* display: flex;
  align-items: center; */
  margin-top: -10px;
  background: red;
}

.header.block .default-content-wrapper ul>li>p {
  /* display: flex; */
  /* align-items: center; */
  margin: 0;
  padding: 0;
}

.header.block .default-content-wrapper>p {
  /* display: flex; */
  /* align-items: center; */
  margin: 0;
  padding: 0;
}

.header.block .default-content-wrapper {
  max-height: 93px;
  padding: 16px 48px;
}

.header.block .default-content-wrapper>ul {
  margin: 0;
  padding: 0;
  align-items: center;
}

.header.block .default-content-wrapper ul>li:nth-child(1)>ul {
  margin: 0;
  padding: 0;
}

.header.block .default-content-wrapper ul>li>ul {
  margin: 0;
  padding: 0;
}

.header.block .default-content-wrapper ul>li:nth-child(1)>ul>li:nth-child(2) {
  margin: 0;
  padding: 0;
  width: auto;
  background: none;
  color: #262626;
  display: block;
  font-family: robotoMedium, sans-serif;
  font-size: 11px;
  font-weight: 600;
  line-height: 11px;
  text-align: left;
  text-decoration: underline;
  margin-top: -5px;
}


.header.block .default-content-wrapper ul>li:nth-child(1)>ul>li:nth-child(2)>a {
  margin: 0;
  padding: 0;

  color: #262626;
  display: block;
  font-family: robotoMedium, sans-serif;
  font-size: 11.5px;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
  text-decoration: underline;
}


.icon-location {
  height: 24px;
}

.icon.icon-location {
  height: 25px;
  width: 25px;
  margin-right: 4px;
  margin-left: 16px;
  padding-top: 6px;
}


.header.block .default-content-wrapper ul>li:nth-child(2) {
  margin-left: 60px;
  /* padding-right: 10px; */
}


.icon-search-input-text {
  padding-right: 8px;
}



.footer-wrapper {
  margin-top: 100px;
}

.icon-vs-logo>img {
  height: auto;
  width: 180px;
  max-height: 73px;
  max-width: 167px;
}

.header-new-wrapper .header-new>div>div>ul {
  display: flex;
  font-size: 13px;
  list-style-type: none;
}

.header-new-wrapper>div>div>div>ul>li {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: #555;
  font-family: robotoRegular, sans-serif;
  text-align: left;
  text-decoration: none;
  padding-bottom: 17px;
  cursor: pointer;
}

.header.block .default-content-wrapper ul>li:first-child {

  color: #555;
  font-family: robotoRegular, sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
}

.applyBorderOnHover {
  border-bottom: 2px solid #000;

}

.header-new-wrapper>div>div>div>ul {
  width: auto;
  max-width: 93.5%;
  align-items: center;
  justify-content: space-between;
  margin-top: 0px;
  margin-bottom: 0px;
}

.header-wrapper>.block {
  background: #fff;
}


.header .block {
  max-width: 1274;
  /* margin: auto; */
}

.header-new>div>div>ul {
  padding: 5px 50px;
  padding-bottom: 0px;
}

.icon {
  margin-right: 6px;
}


.sub-nav-container {
  width: 100%;
  background: rgba(0, 0, 0, .7);
  z-index: -1;
  display: block;
  height: 100%;
  position: fixed;
  left: 0;
  top: 120px;
  right: 0;
  bottom: 0;
  transition: opacity 0.3s ease;
}


.sub-nav-container>div {
  height: 100%;
  width: 100%;
  background: #fff;
  left: 0;
  margin: auto;
  max-height: 540px;
  max-width: 1366px;
  min-height: 540px;
  position: fixed;
  right: 0;
  top: 117px;
  z-index: 8;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  /* overflow: scroll; */
  overflow: hidden;
  transition: opacity 0.3s ease;
}

.sub-nav-container>div>div {
  height: 100%;
}



/* When aria-expanded is "false", hide the container */
.sub-nav-container[expanded="false"] {
  transition: opacity .65s ease-out;
  opacity: 0;
}

/* When aria-expanded is "true", show the container */
.sub-nav-container[expanded="true"] {
  opacity: 1;
  display: block;
}

.sub-nav-container>div[aria-expanded="false"] {
  transition: .6s ease-in-out;
  animation-name: slide-out;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

/* When aria-expanded is "true", show the container */
.sub-nav-container>div[aria-expanded="true"] {
  animation-name: slide-in;
  animation-duration: .6s;
  animation-fill-mode: forwards;
}

/* .sub-nav-container>div>div {
  max-width: 1267px;
  margin: 0 auto;
} */

.section .categories-container {
  transition: .6s ease-in-out;
  opacity: 1;
}

@keyframes slide-in {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(-100%);
  }
}

.categories-wrapper>.categories>div {
  display: flex;
}

.categories-wrapper>.categories>div>div>p {
  margin-top: 0;
  /* border-radius: 15; */
}

.categories-wrapper>.categories>div>div>p>a>picture>img {
  margin-top: 55px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}


.categories {
  display: flex;
}

.nav-tools-wrapper>button.nav-wishlist-button,
.nav-tools-wrapper>button.nav-cart-button,
.nav-tools-wrapper>button.nav-dropdown-button {
  /* display: none; */
  position: absolute;
  top: -102px;
  left: -51px;
  width: 34px;
  height: 33px;
  opacity: 0;
}


.dropdown-wrapper.nav-tools-wrapper .nav-auth-menu-panel {
  width: 398px;
}


header nav .minicart-panel {
  width: 398px;
}

.cart-mini-cart {
  width: 398px;
}

.nav-tools>div:nth-child(3) {
  display: flex;
  flex-direction: row-reverse;
}

.nav-tools>div:nth-child(2) {
  display: flex;
  flex-direction: row-reverse;
}


.dropdown-wrapper.nav-tools-wrapper {
  position: relative;
  width: fit-content;
}


.nav-tools {
  width: fit-content;
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  right: 8%;
}


.dropdown-host {
  /* position: absolute !important; */
  top: 80px;
  /* right: 10%; */
}


.dropdown-host {
  position: relative;
}

.dropdown-host .nav-auth-menu-panel {
  position: absolute;
  top: 120%;
  right: 0;
  width: 340px;
  background: #fff;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.15);
  display: none;
  z-index: 9999;
}

.dropdown-host .nav-auth-menu-panel.nav-tools-panel--show {
  display: block !important;
}