.product-search-modal-container {
    background-color: #fff;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}
.product-search-modal-container>div:first-child>p {
    font-size: 50px;
    color: #666;
    border: 1px solid #ddd;
    border-radius: 25px;
    background: #F3F3F3;
    margin-bottom: 16px;
}
.product-search-modal-container ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 0;
}
.product-search-modal-container li {
    background: #F3F4F6;
    border: 1px solid #E0E0E0;
    border-radius: 20px;
    padding: 3px 10px;
    font-size: 10px;
    color: #333;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
}
.product-search-modal-container li:hover {
    background: #fff;
    border-color: #ccc;
}
.product-search-modal-container picture {
    display: block;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}
.product-search-modal-container img {
    width: 100%;
    border-radius: 10px;
    display: block;
}
.search-input {
    width: 90%;
    padding: 0px 16px;
    border: 0px solid #ddd;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border: none;
}
.product-search-modal>div:nth-child(1) {
    border-bottom: 2px solid #E9E9E9;
    padding-bottom: 10px;
}
.product-search-modal>div:nth-child(2)>div>p {
    margin: 6;
    padding: 0;
}
.search-input:hover {
    border: none;
}
.modal>dialog {
    border-radius: 16px;
    max-width: 580px;
    position: relative;
}
.icon-trendingsearchIcon>img {
    margin-top: 10px;
    width: 20px;
    height: 20px;
}
.product-search-modal-wrapper {
    padding: 0 !important;
}