.categories-container {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.categories-wrapper {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.categories-wrapper>div>div>div {
    /* background: blue; */
    width: 100%;
}

.categories-wrapper .categories {
    width: 100%;
    height: 100%;
}

.categories-wrapper .categories>div:nth-child(1) {
    background: #fff;
    width: 22%;
    max-height: 515px;
    min-height: 515px;
    padding: 22px 0px 0px 66px;
}

.categories-wrapper .categories>div:nth-child(2) {
    /* background: blue; */
    background: #FAFAFA;
    /* display: flex; */
    width: 25%;

}

.categories-wrapper .categories>div:nth-child(2)>ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


.categories-wrapper .categories>div:nth-child(3) {
    background: #FAFAFA;
    /* display: flex; */
    width: 50%;
}

ul.category-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.categories-wrapper>.categories>div>div>ul>li>ul {
    background: yellow;
    display: none !important;
}

.categories-wrapper>.categories>div>div>ul>li[active="true"]>p>a {
    color: #262626;
    font-family: robotoBold, sans-serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 27px;
    text-decoration: none;
}

.categories-wrapper>.categories>div>div>ul>li[active="false"]>p>a {
    text-decoration: none;
    color: #262626;
    font-family: robotoRegular, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}

.categories-wrapper>div>div>div>ul {
    /* background: yellow; */
    list-style-type: none;
    /* background: pink; */
    display: contents;
}

.icon-right-arrow>img {
    margin-left: 10px;
    height: 50%;
    width: 60%;
}


.categories-wrapper>.categories>div>div>ul>li[active="false"]>p>span {
    /* display: none; */
    opacity: 0;
}

.categories-wrapper>.categories>div>div>ul>li[active="true"]>p>span {
    /* display: block; */
    opacity: 1;
}


.icon-down-arrow>img {
    margin-left: 10px;
    height: 50%;
    width: 60%;
    margin-right: 2px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transition: .3s linear;
    transition: .3s linear;
}

/* Try this */
li[activeinside="false"] .icon-down-arrow>img {
    margin-left: 10px;
    height: 50%;
    width: 60%;
    margin-right: 2px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transition: .3s linear;
    transition: .3s linear;
}

li[activeinside="true"] .icon-down-arrow>img {
    margin-left: 10px;
    height: 50%;
    width: 60%;
    margin-right: 2px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transition: .3s linear;
    transition: .3s linear;
}

.categories.block>div:nth-child(2)>ul>li[activeInside="false"]>ul {
    display: none !important;
    /* opacity: 0.5; */
    max-height: 247px;
    -webkit-transition: max-height .3s linear;
    transition: max-height .3s linear;
    overflow-y: scroll;
}

.categories.block>div:nth-child(2)>ul>li[activeInside="true"]>ul {
    display: block;
    max-height: 247px;
    -webkit-transition: max-height .3s linear;
    transition: max-height .3s linear;
    /* overflow-y: scroll; */
    /* opacity: 0; */
}

.categories.block>div:nth-child(2)>ul>li>ul {
    /* opacity: 1; */
    /* background: red; */
    width: 90%;
}

.categories.block>div:nth-child(2)>ul {
    width: 100%;
}

.categories.block>div:nth-child(2)>ul {
    width: 80%;
    margin: 0 auto;
    margin-top: 33px;
}

.categories.block>div:nth-child(2)>ul>li>p {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.categories.block>div:nth-child(2)>ul>li>p>a {
    text-decoration: none;
    color: #262626;
    font-family: robotoRegular, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}

.categories.block>div:nth-child(2)>ul>li>ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin: 0 auto;
    gap: 8px;
}

.categories.block>div:nth-child(2)>ul>li>ul>li>a {
    text-decoration: none;
    color: #262626;
    font-family: robotoRegular, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}